.fine-container {
  background: #bdc3c7;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.19);
  margin: 8px;
  padding-right: 10px;
}

.fine-item {
  display: flex;
  justify-content: center;
}

.type-item {
  display: flex;
  width: 120px;
  justify-content: center;
  align-items: center;
}

.type-item span {
  margin-right: 5px;
}

.circle {
  height: 18px;
  width: 18px;
  border-radius: 20px;
  background: red;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

    /* Position the tooltip */
  position: absolute;
  z-index: 0;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.mini-icons-view {
  display: grid;
  grid-template-columns: repeat(2, 50px);
}