section {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttons-title-container {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

#subtitle {
  color: white;
  font-size: 30px;
  text-align: center;
}

body {
  background: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;

}

#logo {
  height: 50px;
  width: 50px;
  margin: 30px;
}
